header.header {
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
}

.box-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.open-menu {
    display: none;
    padding-right: 10px;
}

.open-menu h3 {
    text-transform: uppercase;
    font-weight: 300;
}

.box-logo {
    margin-left: 10px;
}

.logo {
    font-size: 2.5em;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.nav-bar {
    margin-right: 10px;
}

.btn-close-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 700;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 0 0 5px 0;
    cursor: pointer;
}

.nav-bar .menu {
    display: flex;
    flex-wrap: wrap;
}

.menu .menu-item {
    margin: 0 5px;
}

.menu .menu-item a {
    padding: 0 15px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.7);
   
}

.menu .menu-item a:hover {
    color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 968px) {
    .open-menu {
        display: block;
    }


    .btn-close-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar {
        margin: 0;
        width: 250px;
        height: 100vh;  
        overflow: auto;
        position: fixed;
        top: 0;
        right: -250px;
        background-color: #fff;
        border: 1px solid rgba(31, 31, 31, 0.2);
        border-radius: 3px 0 0 3px;
        z-index: 10;
        transition: 0.5s ease;
    }

    .open-menu:hover ~ .nav-bar, .nav-bar:hover {
        transform: translate(-250px, 0);
    }

    .menu {
        flex-direction: column;
        justify-content: center;
       
    }

    .menu .menu-item {
        border-bottom: 0.4px solid rgba(0,0,0,0.2);
        padding: 15px 0;
    }
}