<header class="header">
    <div class="box-header container">
        <div class="box-logo">
            <a routerLink="/" class="logo">CineAPI</a>
        </div>

        <div class="open-menu">
            <h3>Menu</h3>
        </div>

        <nav class="nav-bar">
            <p class="btn-close-menu">X</p>

            <ul class="menu">
                <li class="menu-item">
                    <a routerLink="/filmes-cartaz">Filmes em cartaz</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/filmes-cartaz">Melhores Filmes em cartaz</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/filmes-cartaz">Bilheterias do cinema</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/filmes-cartaz">Melhores filmes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
